[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=claudiu
Group=claudiu
WorkingDirectory=/home/claudiu/app/src/
environment="PATH=/home/claudiu/app/venv/bin"
EnvironmentFile=/home/claudiu/.env
ExecStart=/home/claudiu/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target